
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    min-height: 100vh; /* Задаем минимальную высоту экрана */
}

nav {
    width: 100%; /* Делаем навигацию на всю ширину экрана */
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000; /* Так расположение навбара становится фиксированным наверху */
}

.content {
    margin-top: 80px; /* Оставляем пространство под фиксированный navbar */
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px; /* Обеспечиваем дополнительное пространство */
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.refresh-container {
    text-align: center;
    margin-top: 20px;
}

.refresh-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.refresh-btn:hover {
    background-color: #0056b3;
}

