<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="/static/style/navbar.css">
</head>




<nav>
    <div class="nav-container">
        <div class="logo">
            <a href="/">
                <img src="/static/images/logo.svg" alt="Logo">
            </a>
        </div>
        <ul class="menu">
            {% if not user %}
            <li><a href="/pages/login">Login</a></li>
            <li><a href="/pages/register">Register</a></li>
            {% endif %}
            {% if user %}
            <li><a href="/pages/user-profile">{% print(user.login) %}</a></li>
            <li><a href="/pages/quiz">Quiz</a></li>
            {% if user.is_admin %}
            <li><a href="/pages/admin/add-questions">Add new questions</a></li>
            {% endif %}
            <li><a href="#" id="logout-link">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>



{% if user %}
<script src="/static/js/logout.js"> </script>
{% endif %}